@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(18,18,43,255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}



#light {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.363) 0%, rgba(255, 255, 255, 0.137) 100%);
  pointer-events: none;
  mix-blend-mode: overlay;
  filter: blur(80px);
}
